.home-container {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px;
  border: 1px solid rgb(224, 230, 237);

  padding: 50px;
}

/* Outer News Section Container */
.outer-news-container {
  margin-top: 20px;
}

.flip-container {
  perspective: 1000px;
  position: relative;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container,
.front,
.back {
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  max-height: 300px;

  cursor: pointer;
}

.front,
.back {
  border: 1px solid rgb(224, 230, 237);
  border-radius: 7px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 5px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
}

.thumbnail {
  object-fit: cover;
  max-height: 185px;
  min-height: 185px;
  max-width: 100%;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.news-text {
  width: calc(100% - 10px);
  height: 100%;
  padding: 5px;
  text-align: center;
  font-weight: lighter;

  h1 {
    font-size: 18px;
    font-weight: lighter;
  }
}

.news-content-container {
  padding: 20px;
  max-height: 100%;
}

.readmore {
  color: rgb(102, 109, 113);
  display: inline-block;
  font-size: 14px;
  margin-top: 50px;
  text-decoration: none;
}

.readmore:hover {
  color: dodgerblue;
}
